.btn-xs {
    padding: 2px 8px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}

.remove-btn{
    visibility: hidden;
}

.list-group-item:hover .remove-btn{
    visibility: visible !important;
}